/* Navbar için genel stiller */
.chat-navbar {
  background-color: #007bff; /* Mavi bir arka plan rengi */
  color: white; /* Yazı rengi beyaz */
  padding: 10px 20px; /* Üst ve alt padding */
  display: flex;
  justify-content: space-between; /* Sağ ve sol tarafı ayırma */
  align-items: center; /* İçerik hizalama */
  border-radius: 5px 5px 0 0; /* Üst köşe yuvarlama */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

/* Navbar başlığı */
.chat-navbar h2 {
  margin: 0; /* Kenarlardan boşluk kaldırma */
  font-size: 18px; /* Başlık font boyutu */
  font-weight: normal; /* Başlık kalınlık */
}

/* "Kişi Bilgisi" butonunun stilleri */
.user-info-button {
  background-color: #ffffff;
  color: #007bff; /* Mavi yazı rengi */
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid #007bff; /* Butonun etrafında mavi çerçeve */
  transition: background-color 0.3s ease; /* Hover efekti için geçiş */
}

/* Buton üzerine gelindiğinde arka plan rengini değiştirme */
.user-info-button:hover {
  background-color: #007bff;
  color: white;
}
