/* Chat Penceresi Genel Ayarları */
.chat-container {
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: flex-start; /* İçerik alanını sıkıştırır */
  padding: 0 20px; /* Sağ ve sol kenarlarda boşluk bırakır */
  gap: 0; /* Aradaki boşluğu sıfırlar */
}

/* Chat Window Penceresi */
.chat-window-container {
  width: 90%; /* Mesaj penceresinin genişliği */
  padding: 5px;
  height: calc(100vh - 60px); /* 60px navbar'ın yüksekliği, bunu ayarla */
  position: relative;
}

/* Mesaj Balonları */
.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;  /* Mesaj balonları genişliğini sınırlayın */
  clear: both;
  word-wrap: break-word;
}

.message p {
  margin: 0;
}

/* Kullanıcının Kendi Mesajları */
.message.current {
  margin-left: auto;
  text-align: right;
  float: right;
}

/* Diğer Kullanıcıların Mesajları */
.message.other {
  text-align: left;
  float: left;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

/* Mesajın Gönderim Zamanı */
.message span {
  font-size: 10px;
  display: block;
  margin-top: 5px;
}

/* Mesaj Yazma Alanı */
.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}
