.user{
    background-image: url("../../images/foto1.jpg");
    background-size: cover;
}

.card{
    background-image: url("../../images/foto2.jpg");
    background-size: cover;
    margin-top: 60px;
}