.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3cc1b8;
    height: '100vh';
}

.container{
    background-image: url("../../images/pexels-grizzlybear-399187.jpg");
    background-size: cover;
}
